.answerWrapper {
  @apply bg-white shadow-button flex items-center px-[48px] font-semibold cursor-pointer border will-change-transform;
  min-height: 60px;
  border-radius: 50px;
  &:hover {
    transform: translateY(-4px);
  }
}
.icon {
  @apply text-3xl mr-7;
}
